/* Site Defaults */
html, body, #root {
    position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    font-family: Arial, Helvetica, sans-serif; font-weight: 400; color: white; font-size: 18px; line-height: 1.5;
    background: linear-gradient(180deg, #0a0e27, black); margin: 0; padding: 0; }

/* Custom Fonts */
@font-face { font-family: 'Bangers'; src: url('/Fonts/bangers-v20-latin-regular.woff') format('woff'); }


/* Font Family for Heading */
h1, h2, h3, h4, h5, h6 { font-family: inherit; margin-bottom: 24px; font-weight: 600; }

/* Typography Scale */
h1      { font-size: 1.5em; line-height: 1.5em; font-weight: 800; }
h2      { font-size: 1.5em; line-height: 1.5em; text-align: center; border-bottom: 2px solid #fff; 
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); margin-bottom: 20px; margin-top: 10px; }
h3      { font-size: 1.25em; line-height: 1em; margin: 0%; }
h4      { font-size: 1.125em; line-height: 1.5em; }
h5, h6  { font-weight: bold; font-size: 1em; margin-bottom: 0; }
p       { margin: 1.2em 0 0.5em; margin-bottom: 1px; }

/* Link Default & Hover  */
a { color: #FFD700; text-decoration: underline; }
a:hover { color:  #FF4500; } 


/* Responsive size Adjustments */
@media (max-width: 768px) {
    h1, h2 { font-size: clamp(0.8rem, 6vw + 0.5rem, 1.2em); line-height: clamp(1rem, 6vw + 0.5rem, 1.5); }
    .overlay-image { width: 200px; } 
}

@media (max-width: 480px) { 
    h1, h2 { font-size: clamp(0.7rem, 8vw + 0.3rem, 1.0em); line-height: 1.2; }
    p { margin-bottom: 2vh; }
}


/* Buttons Defaults */
button, .backButton {
    padding: 10px 20px; border: none; background-color: #85C1E9; color: #fff;
    border-radius: 8px; cursor: pointer; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); font-size: 1rem; }

/* Hover Defaults */
button:hover, .backButton:hover, .projectCard:hover, .mediaButton:hover {
    transform: scale(1.05); box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.4s ease; will-change: transform;
}


/* Chrome, Edge, and Safari Scroll Bars */
.custom-scrollbar::-webkit-scrollbar { width: 8px; }
.custom-scrollbar::-webkit-scrollbar-thumb { background-color: #85C1E9; border-radius: 10px; }
.custom-scrollbar::-webkit-scrollbar-track { background-color: rgba(0, 31, 63, 0.85); }
.custom-scrollbar::-webkit-scrollbar-button { display: none; } /* Hide the arrows */


/* Loading Screen Styling */
.loading-screen { position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    background: linear-gradient(135deg, #0a1631, #1b4e80); text-align: center;
    z-index: 10; opacity: 1; transition: opacity 1s ease-in-out; }

/* Loading Screen Fade Out Animation */
.loading-screen.fade-out { opacity: 0; pointer-events: none; }

/* Loading Screen Text */
/* .loading-screen p { font-weight: 100; font-Size: '2.2rem'; } */

/* Loading text with matching font and glow effect */
.loading-text { font-size: 1.75rem; font-family: 'GameFont', sans-serif; letter-spacing: 3px; 
    margin-bottom: 10px; text-shadow: 0 0 5px rgba(0, 188, 212, 0.6); }

/* Arcade icon animation */
.arcade-icon { width: 60px; height: auto; animation: bounce 1.5s infinite ease-in-out, pulse 2s infinite alternate ease-in-out;
    filter: drop-shadow(0 0 8px rgba(0, 188, 212, 0.4)); margin: 25px 0; }

/* Bounce animation for loading arcade icon */
@keyframes bounce { 
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); } }

/* Pulse effect for arcade icon */
@keyframes pulse {
    from { filter: drop-shadow(0 0 8px rgba(0, 188, 212, 0.45));  }
    to   { filter: drop-shadow(0 0 18px rgba(0, 188, 212, 0.65)); }
}

.progress-bar { width: 25%; height: 20px; background: #1b4e80; border: 2px solid #0a1631;
    border-radius: 5px; overflow: hidden; margin-top: 20px; box-shadow: 0 0 5px rgba(0, 188, 212, 0.6); }

.progress-fill { height: 100%; background: linear-gradient(135deg, #00e5ff, #007bb8);
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.5); transition: width 0.3s ease; }

/* Title Image (Logo) */
.ui-overlay { position: absolute; top: 40px; left: 50%; transform: translateX(-50%); text-align: center;
    z-index: 10; pointer-events: none; user-select: none; max-width: 90%; padding: 0 20px; }

.overlay-image { width: 550px; height: auto; opacity: 0; animation: fadeInImage 0.75s ease forwards; animation-delay: 0.0s;
    transition: opacity 0.5s ease; will-change: transform, opacity; display: block; margin: 0 auto; pointer-events: none; }

/* Adjust the width based on screen size  */
@media (max-width: 768px) { .overlay-image { width: 200px; } }

/* Fade-in animation keyframes */
@keyframes fadeInImage { 
    0% { opacity: 0; transform: scale(0.75); }
    70% { transform: scale(1.02); }
    100% { opacity: 1; transform: scale(1); } /* Return to original size */
}

/* Main UI Container  */
.container { position: absolute; background-color: rgba(0, 31, 63, 0.85); top: 50%; left: 50%; transform: translate(-50%, -40%);
    z-index: 1000; pointer-events: auto; padding: 20px; border-radius: 12px; box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    width: clamp(300px, 90vw, 850px); height: clamp(400px, 70vh, 650px); max-width: 850px; max-height: 650px; 
    transition: all 0.3s ease-out; backdrop-filter: blur(10px); overflow-y: auto; scroll-behavior: smooth; }

.fade-container { opacity: 0; pointer-events: none; /* Prevent interaction when hidden */ transition: opacity 0.75s ease-out; }
.fade-container.visible { opacity: 1; pointer-events: auto; /* Enable interaction when visible */ }


/* Main Page Tabs & Hover */
.tabs { display: flex; justify-content: space-between; margin-bottom: 20px; gap: 10px; }
.tab { cursor: pointer; padding: 12px 20px; border: none; background-color: rgba(0, 31, 63, 0.7);
    border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 31, 63, 0.7); flex: 1 1 auto; /* Allow buttons to resize proportionally */
    max-width: 150px; text-align: center; font-weight: 700; transition: transform 0.3s ease; transform: scale(1); }
.tab:hover { background-color: #6DAEDB; }
.active-tab { background-color: #85C1E9; }

/* Page Basic Setup */
.content { padding: 10px; background-color: rgba(255, 255, 255, 0.15); border-radius: 10px; box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px; transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; }

/* Page Fade Effects */
.fade-in { opacity: 1; }
.fade-out { opacity: 0; }

/* Sub info on topics (Greyed Italic) */
.subInformation { font-style: italic; color:#bbb; }
.centerElements { display: flex; flex-direction: column; align-items: center; text-align: center; gap: 10px; }

/* About Education Section */
.educationContainer { display: grid; grid-template-columns: 1fr 0.5fr; align-items: center; }
.educationImage { width: 80px; height: 80px; display: block; justify-self: center; }


/* Bullet Point Items/Grid (Bonus) */
.bonusList { display: grid; grid-template-columns: repeat(2, 1fr); justify-content: center; gap: 10px 10px; list-style-type: none; /* Remove default bullets */
    padding: 0; margin: 0 auto; max-width: 800px; font-size: clamp(0.8rem, 1vw + 0.65rem, 1em); color: #e0e0e0; font-weight: 700; text-align: center; }
/* Bullet Text Alignment */
.bonusList li { display: flex; align-items: center; justify-content: flex-start; gap: 10px; width: 100%; padding: 5px 0; }
/* Custom BulletPoints */
.bonusList li::before { content: "•"; min-width: 1em; margin-right: 5px; color: #FFD700; font-size: 1em;  display: inline-block; text-align: center; }
.bonusList li:hover { color: #ffffff; text-shadow: 0 0 5px rgba(255, 255, 255, 0.2); }

/* Listed Items (Tech Used, Links) */
.tagList { display: flex; justify-content: space-between; flex-wrap: wrap; width: 100%; max-width: 800px; padding: 5px; 
    font-size: clamp(0.8rem, 1vw + 0.65rem, 1em); color: #e0e0e0; font-weight: 700; letter-spacing: 0.4px; border-radius: 10px; }
.tagList span { flex-grow: 1; flex-basis: 0; padding: 5 15px; white-space: nowrap; min-width: 80px; }
.tagList span:hover { color: #ffffff; text-shadow: 0 0 5px rgba(255, 255, 255, 0.2); }


/* Project Grid Setup */
.projectGrid  { display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 15px; margin-bottom: 20px; }

/* Project Grid Items */
.projectCard  { background-color: rgba(255, 255, 255, 0.2); padding: 0%; border-radius: 10px; text-align: center;
                height: 320px; display: flex; flex-direction: column; justify-content: space-between; cursor: pointer; }
.projectImage { width: 100%; height: 70%; background-color: #85C1E9; border-radius: 10px;
                background-size: cover; background-position: center; margin-bottom: 10px; }
.projectCardTextContainer 
              { display: flex; flex-direction: column; padding: 0% 0% 2% 0%; max-height: clamp(80px, 10vw, 120px); /* Dynamic height based on viewport width */
                overflow: hidden; white-space: nowrap; }


/* Carousel Base */
.carouselContainer  { display: flex; align-items: center; justify-content: center; gap: 10px; width: 100%; max-width: 90vw; overflow: hidden; }
.carouselButton     { font-size: clamp(1.5rem, 3vw, 2.5rem); background: transparent; border: none; padding: 0 10px; }

/* Ensure that both images and embedded videos occupy the same width and maintain proportions */
.carouselMedia { flex: 1; width: 80%; display: flex; justify-content: center; }

/* Carousel item i.e -> Img & Vid */
iframe.carouselEmbed, img.carouselImage { flex: 1; height: 300px; aspect-ratio: 16 / 9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); margin: 0 auto; display: block; object-fit: cover; border-radius: 8px; }

/* Media Button Container */
.mediaButtons { display: flex; justify-content: center; margin-top: 10px; }
.mediaButton { background: none; border: 2px solid transparent; cursor: pointer; margin: 0 5px; padding: 0; 
    border-radius: 5px; width: 50px; height: 50px; overflow: hidden; }
.mediaButton.active { background-color: #007BFF; border-color: #FF4500; }
/* Shared Media icon images and video thumbnails  */
.mediaIcon { width: 100%; height: 100%; object-fit: cover; border-radius: 5px; }
/* Video Icon Container */
.videoThumbnail { position: relative; width: 100%; height: 100%; overflow: hidden; }
/* Scale the video thumbnail image to fill container completely */
.videoThumbnail img { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) scale(1.3); width: auto; height: 120%; object-fit: cover;}
/* Play Button Overlay */
.playButton { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 20px; color: white; border-radius: 50%; padding: 5px; }